<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="port" value="3000" />
        <add key="Directory_Listing" value="true" />
        
        <add key="fileSupported" value="apng:image/apng avif:image/avif gif:image/gif jpg:image/jpeg jpeg:image/jpeg jfif:image/jpeg pjpeg:image/jpeg pjp:image/jpeg png:image/png svg:image/svg+xml bmp:image/bmp ttf:font/ttf tif:image/tiff tiff:image/tiff mov:video/quicktime webp:image/webp" />
        <add key="testFileSupported" value="html:text/html htm:text/html js:text/javascript css:text/css mjs:text/javascript txt:text/plain php:application/x-httpd-php json:application/json jsonld:application/ld+json" />
    </appSettings>
</configuration>