/*@font-face { font-family: minecraftia; src: url('../random/minecraftia.ttf'); } */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(65deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.75) 80%, rgba(0, 0, 0, 0.5) 100%);
  min-width: 35rem;
}

.linksCheats {
  color: #d4d4d3;
  font-size: 8px;
}

.linksCheats:visited {
  color: #d4d4d3;
}
.skeett:hover {
  color: #94b806;
  text-decoration: none;
}

.temp{
  padding-top: 1rem;
  
  text-align: center;
}

.accounts{
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 12px !important;
}

.novo:hover {
  color: #feca2f;
  text-decoration: none;
}

.ot:hover {
  color: #f8a530;
  text-decoration: none;
}

.aimware:hover {
  color: #fc474a;
  text-decoration: none;
}

.altSteam:hover{
  color: #3d658f;
  text-decoration: none;
}

.discord:hover{
  color: #7289da;
  text-decoration: none;
}

#date {
  text-align: end;
}

.sendpm {
  color: #60a0dc;
}

.sendpm:visited {
  color: #60a0dc;
}
.sendpm:hover {
  color: #88c5ff;
  text-decoration: none;
}

.nav{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1.5rem;
}

.dumbass{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.imageCenter{
  text-align: center;
  padding-bottom: 1rem;
}

.fucker{
  padding-bottom: 1rem;
}

.skeet{
  text-align: left !important;
}

.skeetColor{
  color: #94b806 !important;
}


.test{
  z-index: 2;
  text-decoration: none;
  margin-right: 4rem;
  margin-left: 4rem;
  color: #909090;
}

.test:hover{
  background-color: rgba(97, 97, 97, 0.466);
}

.page {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.containerr{
  z-index: 5;
  
}

.debug{
  z-index: 2;
  position: absolute;
  height: 100%;
  top: 1%;
  left: 2%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6)
}

.container2 {
  padding: 30px;
  
}

.textCenter{
  text-align: center;
  font-size: 10px;
}

.containercontainer{
  min-height: 24rem;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 4px;
  box-shadow: -2px 8px 12px rgba(0, 0, 0, 0.3);
  z-index: 2;
  min-width: 24rem;
  border: 2px solid black;
  outline: #353534 solid 4px;
  backdrop-filter: blur(4px);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-image {
  width: 140px;
}

h1 {
  font-size: 32px;
}

.cheat {
  color: rgb(210, 210, 210);
}

.links a {
  display: inline-block;
  margin: 4px;
  color: rgb(185, 185, 185);
  
}

.links a:visited{
  text-decoration: none;
  color: rgb(185, 185, 185);
}

.links a:active{
  text-decoration: none;
  color: rgb(185, 185, 185);
}
.links a:hover{
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.coded-on-replit {
  position: fixed;
  bottom: 20px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: rgb(17, 29, 44);
  border-radius: 6px;
  font-size: 12px;
}

.coded-on-replit img {
  width: 20px;
  height: auto;
}

.large-header {
   width: 100%;
   background-color: #151514;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   position: fixed;
}


.main-title {
   position: absolute;
   align-items: center;
   margin: 0;
   padding: 0;
   color: rgb(0, 255, 64);
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
  text-align: center;
  position:fixed;
  bottom:0;
}

.ml5:hover {
  color: white;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0..5em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.37);
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-style: italic;
  font-weight: 400;
  width: 5rem;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

