html, body{
  padding:1rem;
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #000000; 
}

@font-face {
font-family: hemihead;
src: url(hemihead.ttf);
}

.hemihead {
font-family: hemihead;
}

.backgroundIMG {
    
}

.test1234124 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
}

#shufflingTitle{
  background-image: url(../images/LOGO.png);
}

.test123{
  min-height: 3.5rem;
  background-image: url(../images/LOGO.png);
}

.bordertopbot{
  border-top: #ffffff solid 1px;
  border-bottom: #ffffff solid 1px;
}

#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
z-index: -1000;
overflow: hidden;
object-fit: fill;
filter: blur(5px);
}

.center-text {
    text-align: center;
    margin: auto;
}

.VWBlue{
color: #0d4671 !important;
/*-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
/* 0d4671 */
}

.centerTextVertical {
align-self: center;
}

.centerTitle {
margin: auto;
}

.alignTextCenter {
text-align: center!important;
}

.alignTextEnd {
text-align: end;
}

.alignTextStart {
text-align: start;
}

.underlineNavTest {
border-top: 1px solid #ffffff;
margin-bottom: -1px;
}

.underlineNav {
color: #cecece!important;
}

.underlineNav:hover {
border-bottom: 1px solid;
margin-bottom: -1px;
color: #ffffff!important;
}

.navigationMenu {
/* background-color: #1f1f1f; */
width: 96%;
margin: auto;
margin-top: 1rem;
margin-bottom: 1rem;
}

.titleCard{
width: auto;
margin: auto;
width: 20%;
transform: skew(20deg);
background: rgba(255, 255, 255, 0.801);
outline: #00000088;
outline-offset: 2px;
outline-style: solid;
}

.Title {
font-size: 2rem;
color: #cecece;
}

.SpecList {
padding: 0;
margin: 0;
color: #ff0000;
}


.page-footer {
background-color: #1f1f1f;
color: #b5b5b5;
width: 96%;
margin: auto;
margin-top: 1rem;
margin-bottom: 1rem;
bottom:0;
}

.footerTest{
    background-color:#1f1f1f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: fixed;
}

/*img {*/
/*background-size: cover;*/
/*background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http%3A//www.w3.org/2000/svg\'xmlns%3Axlink=\'http%3A//www.w3.org/1999/xlink\' viewBox=\'0 0 1280 853\'%3E%3Cfilter id=\'b\' color-interpolation-filters=\'sRGB\'%3E%3CfeGaussianBlur stdDeviation=\'.5\'%3E%3C/feGaussianBlur%3E%3CfeComponentTransfer%3E%3CfeFuncA type=\'discrete\' tableValues=\'1 1\'%3E%3C/feFuncA%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter=\'url(%23b)\' x=\'0\' y=\'0\' height=\'100%25\' width=\'100%25\' xlink%3Ahref=\'data%3Aimage/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAIAAACepSOSAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAs0lEQVQI1wGoAFf/AImSoJSer5yjs52ktp2luJuluKOpuJefsoCNowB+kKaOm66grL+krsCnsMGrt8m1u8mzt8OVoLIAhJqzjZ2tnLLLnLHJp7fNmpyjqbPCqLrRjqO7AIeUn5ultaWtt56msaSnroZyY4mBgLq7wY6TmwCRfk2Pf1uzm2WulV+xmV6rmGyQfFm3nWSBcEIAfm46jX1FkH5Djn5AmodGo49MopBLlIRBfG8yj/dfjF5frTUAAAAASUVORK5CYII=\'%3E%3C/image%3E%3C/svg%3E');*/
/*}*/

.Picture {
aspect-ratio: auto;
}

.topCornersRadius {
border-radius: 10px 10px 0px 0px;
}

.bottomCornerRadius {
border-radius: 0px 0px 10px 10px;
}

.card {
background-color: transparent;
}

.card-body {
background-color: #cecece2a;
color: #cecece;
}

.imageMargin {
margin-top: 1rem;
margin-bottom: 1rem;
}

.imgs {
width: 100%;
}

.textColor {
color: #cecece;
}

.backgroundColor {
background-color: #818181be;
}

.readMore {
color: #ffffff!important;
}

.readMore:hover {
color: #0d4671 !important;
}

.card-text {
font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
.navigationMenu {position: relative;}
}

.modal {
display: none;
z-index: 100;
margin: auto;

position: fixed;
left: 50%;
transform: translate(-50%, -50%);
max-height: 85%;
max-width: 85%;
overflow: hidden;
scrollbar-width: thin;
padding-bottom: 56.25%;
}

.modalIMG {
object-fit: cover;
}

::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.modal > .title {
border-bottom: 1px solid black;
}

.modal > .content {
text-align: center;
}

.exitButton{
position:absolute;
top:6rem;
right:5px;
color: rgba(0, 0, 0, 1);
}

.exitButton:hover {
color: red;
}

.buttonDiv {
text-align: center;
align-content: center;
}

.modalType1 {
max-width: 85%;
max-height: 85%;

background-size: contain;
background-position: center;
background-repeat: no-repeat;
filter:blur(0px);
}

.modalGTI{
background-image: url("../images/GTIbest.png");
}


.modalJETTA {
background-image: url("../images/bestJETTA.png");
}
