<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
                name="fileSupported"
                type="System.Configuration.DictionarySectionHandler" />
        <section
                name="testFileSupported"
                type="System.Configuration.DictionarySectionHandler" />
    </configSections>
    <appSettings>
        <add key="port" value="3000" />
        <add key="Directory_Listing" value="true" />
    </appSettings>
    <fileSupported>
        <add key="apng" value="image/apng" />
        <add key="avif" value="image/avif" />
        <add key="gif" value="image/gif" />
        <add key="jpg" value="image/jpeg" />
        <add key="jpeg" value="image/jpeg" />
        <add key="jfif" value="image/jpeg" />
        <add key="pjpeg" value="image/jpeg" />
        <add key="pjp" value="image/jpeg" />
        <add key="png" value="image/png" />
        <add key="svg" value="image/svg+xml" />
        <add key="bmp" value="image/bmp" />
        <add key="ttf" value="font/ttf" />
        <add key="tif" value="image/tiff" />
        <add key="tiff" value="image/tiff" />
        <add key="mov" value="video/quicktime" />
        <add key="webp" value="image/webp" />        
    </fileSupported>
    <testFileSupported>
        <add key="html" value="text/html" />
        <add key="htm" value="text/html" />
        <add key="js" value="text/javascript" />
        <add key="css" value="text/css" />
        <add key="mjs" value="text/javascript" />
        <add key="txt" value="text/plain" />
        <add key="php" value="application/x-httpd-php" />
        <add key="json" value="application/json" />
        <add key="jsonld" value="application/ld+json" />
    </testFileSupported>
</configuration>